.navbar {
    background-color: #037ffa;
    color: #fff;
}
.navbar-logo {
    height: 60px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.main {
    background-color: #8dbff1;
    min-height: 85vh;
    padding: 30px 5%;
}
.pagetitle {
    color: #fff;
    margin-bottom: 20px;
}
.footer {
    background-color: #037ffa;
    text-align: center;
}
.copyright {
    color: #fff;
}

.white * {
    color: white;
}

.categories {
    border: 2px solid white;
    border-radius: 3px;
    padding-top: 10px;
}

.rating {
    margin-left: 5px;
    font-size: 20px;
    color: rgb(255, 208, 0);
}

.fa-arrow-circle-right {
    margin-left: 5px;
}

.image-wrapper.index, .image-wrapper.index {
    margin-top: 7px;
} 