.image-wrapper {
    text-align: center;
    display: block;
    transition: 0.3s;
}


.image-wrapper:hover {
    transition: 0.3s;
    opacity: 0.5;
}


.book-image {
    height: 150px;
    margin-bottom: 20px;
    object-fit: cover;
}

.book-title {
    height: 2em;
    overflow: hidden;
}
.description {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detail-btn {
    display: block;
    width: 80%;
    margin: auto;
}
.pagination {
    justify-content: center;
}

.categories ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fa-heart {
    color: pink;
}

.heart {
    margin-right: 5px;
}

.favorite_counter {
    margin-right: auto;
    text-align: right;
    font-size: 20px;
}

.favorite_counter span:nth-child(1) {
    margin-right: 5px;
}

.count_all {
    font-size: 22px;
    color: red;
}


/*===============================
    sort.blade.php
===================================*/
.title {
    color: white;
    margin: 0 auto 15px;
    text-align: center;
}

.no-review {
    color: red;
    margin: 0 auto 15px;
    text-align: center;
    font-weight: bold;
}

/*===============================
    admin.blade.php
===================================*/
.admin-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.admin-btns .btn {
    margin: 0 5px 5px 0;
}
